.notifi_data .appointment-componant{
    display: flex;
    width: 93%;
    height: 64px;
    margin: auto;
    margin-bottom: 6px;
    background-color: #f4f4f4;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    cursor: pointer;
}
.overflow-notifi{
    overflow:auto;
    height: 450px;
    background-color: white;
}
.notifi_data .active:hover{
    background-color: #f4f4f4;
}
.notifi_data .appointment-componant img{
    height: 60px;
    width: 60px;
    margin-top: 6px;
    margin-left: 8px;
}
.notifi_data .appointment-data {
    width: 410px;
    margin-top: 14px;
    margin-left: 11px;
}
.notifi_data .appointment-componant .icon{
    font-size: 17px;
    margin-top: -6px;
}
.notifi_data h3{
    font-size: 27px;
    font-weight: 600;
    margin: 20px 0px;
}
.num-notifi{
    color: #ff3535;
    font-weight: 700;
    position: relative;
    top: -33px;
    right: -10px;
}
.notifi_data .notifi-title{
    color: #14274E;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 12px;
}