.alldoctor-componant{
    display: flex;
    width: 93%;
    min-height: 88px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #f4f4f4;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    cursor: pointer;
}
.alldoctor-componant:hover{
    background-color: #f4fbfe;
}
.alldoctor-componant img{
    height: 60px;
    width: 60px;
    margin-top: 15px;
    margin-left: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.alldoctor-componant .alldoctor-data {
    width: 360px;
    margin-top: 3px;
    margin-left: 11px;
}

.alldoctor-componant .row{
    display: flex;
}
.alldoctor-componant i{
    color: #dadada;
    font-size: 13px;
}
.alldoctor-componant .rating{
    color: #2baae9;
}
.alldoctor-componant .alldoctor-data p{
    font-size: 12px;
    margin-bottom: 2px;
}
.alldoctor-componant .alldoctor-data h3{
    font-size: 14px;
    margin-bottom: 1px;
    color: #2baae9;
}