
.DoctorArtboard-header{
    display: flex;
    padding: 0px 20px;
    margin-bottom: 10px;
}

.DoctorArtboard-header img{
    width: 135px;
    height: 135px;
}
.DoctorArtboard-header .left2 ,.DoctorArtboard-header .right2{
    display: flex;
    background-color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding: 0px 10px;
}
.DoctorArtboard-header .left2 {
    margin-right: 10px;
}
.DoctorArtboard-header .right2 {
    margin-left: 10px;
}
.DoctorArtboard-header h3{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
}
.DoctorArtboard-header p{
    font-size: 13px;
}
.DoctorArtboard a{
    display:inline-block;
    background-color: #61C5F7;
    color: white;
    padding: 10px 14px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 14px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.DoctorArtboard .appointment{
    margin-top: 18px;
    padding: 0px 20px;
    
    width: 100%;
    min-height: 250px;
}
table{
    
    width: 100%;
}
.DoctorArtboard .appointment .bg2{
    width: 100%;
    background-color: white;
    padding: 20px 0px;
}
td {
    font-weight: 700;
    
  }
  .appoint-img{
    width: 40px;
}
.start-meet{
      width: 254px;
  }
  td img{
      width: 50px;
      height: 50px;
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
}
.patient-name{
      width: 257px;
      height: 44px;
  }
.DoctorArtboard .btn{
    margin-bottom: 0px;
    margin-left: 50px;
}
tr:hover{
    background-color: #F4FBFE;
  }
  .bg2 h3{
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 20px;
      margin-left: 20px;
  }
  table tr:first-child td {
    color: #8A9EAD;
    font-weight: 700;
    font-size: 14px;
}
td:nth-child(2) {  
    color: #14274E;
  }
  td:nth-child(3) {  
    color: #8A9EAD;
  }
  td:nth-child(4) {  
    color: #14274E;
  }
.DoctorArtboard .appointment .appointment-header{
    margin-top: 0px;
}
.DoctorArtboard .appointment .appointment-header h3{
    margin-top: 4px;
    width: 785px;
}