@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
    width: 100wh;
    height: 100wh;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url('../image/login-bg.jpg');
    background-position: center;
    background-size: cover;
    filter: blur(10px);
    position: fixed;
    z-index: -1;
}

.logo img {
    width: 129px;
    height: 53px;
}

.signin {
    width: 100%;
    height: 100%;
    padding-top: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    z-index: 10;
}

.pass-link {
    margin-top: 7px;
    font-size: 14px;
}

.pass-link a {
    color: #8A9EAD;
    text-decoration: none;
}

.pass-link a:hover {
    text-decoration: underline;
}

.signin .container {
    width: 412px;
    height: 600px;
    margin-top: 2px;
    background-color: white;
    padding: 0px 11px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #14274E;
    margin-top: 0px;
    margin-bottom: 30px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
}


label,
p {
    color: #8A9EAD;
}

input[type=password] {
    background-color: #f1f8fd;

}

input[type=submit] {
    width: 100%;
    background-color: #61C5F7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.account-logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.07);
}

a {
    text-decoration: none;
    color: #14274E;
}

/*sign up style*/
.signup {
    width: 400px;
    height: 550px;
    padding-top: 12px;
    position: relative;
    align-items: center;
    justify-items: center;
    padding-left: 35%;
    z-index: 10;
    overflow: hidden;
}

.btN {
    width: 100%;
    background-color: #61C5F7;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btN a {
    color: white;
}

.logosignup .logo img {
    width: 150px;
    height: 50px;
    padding-left: 44%;
}

.signup .container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;

}

.slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: -70px 0 10px 0;
    justify-content: space-between;
    border-radius: 5px;
}

.slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}

.slide-controls label {
    display: flex;
    padding-left: 15px;
    margin-left: 20px;

}

.slide-controls label.doctor,
.slide-controls label.patiant {
    color: #8A9EAD;
}

.slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #fff, #fff);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] {
    display: none;
}

#doctor:checked ~ .slider-tab {
    left: 50%;
    background: -webkit-linear-gradient(left, #61C5F7, #61C5F7);

}

#patiant:checked ~ .slider-tab {
    left: 0%;
    background: -webkit-linear-gradient(left, #61C5F7, #61C5F7);

}

#doctor:checked ~ label.doctor {
    color: #fff;
    cursor: default;
    user-select: none;
}

#doctor:checked ~ label.patiant {
    color: #8A9EAD;
}

#patiant:checked ~ label.doctor {
    color: #8A9EAD;
}

#patiant:checked ~ label.patiant {
    cursor: default;
    user-select: none;
}

.form-inner {
    display: flex;
    width: 200%;
    height: 90%;
}

.fristform,
.otherform {
    width: 50%;
    padding: 0px 15px;
}

.signup .container .form-inner form input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    transition: all 0.3s ease;

}

.signup input[type=password],
input[type=email] {
    background-color: #f1f8fd;

}



.carousel p {
    text-align: center;
    line-height: 50px;
}

.last {
    text-align: center;
    line-height: 20px;
    display: block;
    margin-bottom: 15px;
    margin-top: 10px;
}

.signup ol,
.signup li {
    list-style: none;
}

.carousel__navigation {
    position: relative;
    bottom: -9px;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #fff;
    background-clip: content-box;
    border: 0.1rem solid #61C5F7;
    border-radius: 50%;
    margin: 0px 10px;
}

.carousel__navigat-button {
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #fff;
    background-clip: content-box;
    border: 0.1rem solid #61C5F7;
    border-radius: 50%;
    margin: 0px 10px;
}



/*patiant*/
#nam {
    background-color: #f1f8fd;

}

.term {
    text-decoration: underline;
    color: #EFA220;
}

/*doctor*/
.lastDo {
    text-align: center;
    line-height: 10px;
    display: block;
    margin-top: 40px;
    margin-bottom: 12px;
}

.doc input {
    margin: 5px 0px;
}

.Doc h2 {
    margin-bottom: 8px;
}
p{
    margin-bottom: 5px;
}


.signin-link {
    text-align: center;
    color: #8A9EAD;
}

.signin-link a {
    color: #000;
}
.error{
    color: red;
    font-size: 12px;
}